.fontsize12_letter-spacing1px {
	font-size: 12px;
	letter-spacing: 1px;
}
.fontsize14_letter-spacing1px {
	font-size: 14px;
	letter-spacing: 1px;
}
.fontsize16_letter-spacing1px {
	font-size: 16px;
	letter-spacing: 1px;
}
.fontsize18_letter-spacing1px {
	font-size: 18px;
	letter-spacing: 1px;
}
.fontsize24_letter-spacing1px {
	font-size: 24px;
	letter-spacing: 1px;
}
.fontsize14 {
	font-size: 14px;
}
.fontsize10_letter-spacing0pxCopy {

	font-size: 12px;
	letter-spacing: 0px;
}
